.partContent2 { width:630px; padding:10px 0px 10px 10px; text-align:center;}
.partContent2 li { float:left; width:126px; text-align:center;}
.partContent2 li h4 { overflow:hidden; white-space:nowrap; width:110px; font-size:12px; font-weight:normal; margin:0px; padding:0px; cursor:pointer; }


.newsTitle {line-height:200%; font-size:20px;}