body,td,th { font-size: 12px; color: #000000;}
body { padding:0px; width:950px; height:auto; margin:0px auto; }
table,div,ul,li,img,p,h1,h2,h3 { margin:0px; padding:0px; border:0px;}
form { margin:0px; padding:0px;}
ul { list-style:none; line-height:150%;}
.clear {height:0;overflow:hidden;clear:both;}
.showtime {color:#666666; font-size:10px;}

.a01:link{color:#000000;text-decoration:none; font-size:12px; font-weight:normal;}
.a01:visited {color: #000000;text-decoration:none;font-size:12px; font-weight:normal;}
.a01:hover {color: #ff0000;text-decoration:none;}
.a02:link{color:#fff; font-size:14px; font-weight:bold; text-decoration:none; display:block;}
.a02:visited {color: #fff; font-size:14px; font-weight:bold; text-decoration:none;}
.a02:hover {color: #ffff00; font-size:14px; font-weight:bold; text-decoration:none;}
.a03:link{color:#678026; text-decoration:none;}
.a03:visited {color: #678026; text-decoration:none;}
.a03:hover {color: #ff0000; text-decoration:none;}
.a04:link{color:#000; font-size:14px; text-decoration:none;}
.a04:visited {color: #000; font-size:14px; text-decoration:none;}
.a04:hover {color: #ff0000; font-size:14px; text-decoration:underline;}
.a05:link{color:#FF6600; text-decoration:none;}
.a05:visited {color: #FF6600; text-decoration:none;}
.a05:hover {color: #ff0000; text-decoration:underline;}
.a06:link{color:#6633FF; text-decoration:underline;}
.a06:visited {color: #6633FF; text-decoration:underline;}
.a06:hover {color: #ff0000; text-decoration:none;}
.a07:link{color:#666666; text-decoration:none;}
.a07:visited {color: #666666; text-decoration:none;}
.a07:hover {color: #000000; text-decoration:none;}
.a08:link{color:#333333; text-decoration:none;}
.a08:visited {color: #333333; text-decoration:none;}
.a08:hover {color: #666666; text-decoration:none;}
.aproductclass:link,.aproductclass:visited {color:#339900; font-size:14px; text-decoration:none; margin:0 5px 0 10px;}
.aproductclass:hover {color:#339933; text-decoration:underline;}

/*#bodymain { width:950px; height:auto; margin:0px auto;}*/

.headDiv { margin-top:10px; width:948px; height:29px; border:1px #E3E3E3 solid; background:url(toptitlebg.jpg) repeat-x; position:relative;}
.headDivLeft { float:left; width:400px; height:29px; line-height:29px; padding-left:10px; color:#627B20;}
.headDivRight {position:absolute; top:8px; right:0px;}
.headDivRight li { float:left; text-align:left; display:inline; margin-right:15px;}
.headDivRight li a {color:#FF6600; text-decoration:none;}
.headDivRight li a:hover {text-decoration:underline;}
.headDivRight li img { margin:0px 3px 1px 1px;}
.headDivRight .navbuttom {background:url(headbuttom3.jpg) no-repeat; width:40px; height:15px; border:0px; color:#ffffff; text-align:center; cursor:pointer; letter-spacing:2px;}

.headDiv2 { margin-top:5px; width:948px; height:88px; border:1px #E3E3E3 solid; position:relative;}
.headDiv2Left { float:left; width:150px;}
.headDiv2Right { float:left; width:600px; margin-left:20px;}
.headDiv2Right img { margin:7px 0 0 5px;}
.headDiv2Right2 {position:absolute; top:10px; right:10px; width:145px; overflow:hidden; line-height:200%;}
.headDiv2Right2 a:link,.headDiv2Right2 a:visited {white-space:nowrap; color:#000099; text-decoration:none;}
.headDiv2Right2 a:hover {text-decoration:underline;}

.navDiv { width:950px; height:30px; margin-top:5px; background:url(navbg-02.jpg) repeat-x;}
.navDivLeft { float:left; width:688px; background:url(navbg-01.jpg) repeat-x; height:30px;}
.navDivLeft li { float:left; width:86px; height:30px; line-height:32px; text-align:center;}
.navDivRight { float:right; width:257px; height:30px; text-align:center;}
.navinput { width:100px; height:16px; border:1px #666666 solid; padding:1px; margin-top:4px;}
.navDivRight select { border:1px #666666 solid; margin-top:4px; height:20px;}
.navbottom { background-color:transparent; background:url(searchbottom.jpg) no-repeat; border:0; width:38px; height:20px; cursor:hand; font-size:12px; text-align:center; color:#FFFFFF;}

.navDiv2 { width:950px; background:url(navbg-03.jpg) repeat-x; height:29px;}
.navDiv2 li { float:left; width:82px; height:15px; line-height:16px; margin-top:7px; text-align:center; color:#678026; border-left:1px #FFFFFF solid; border-right:1px #678026 solid;}

.AD { width:950px; height:25px; margin-top:5px;}
.ADleft { float:left; width:50px; text-align:center; height:25px; line-height:25px;}
.ADright { float:left; width:890px; text-align:left}
.sqBorder_left {width:880px; height:25px;}
.scroll_div_left {width:880px; height:25px; overflow: hidden; white-space: nowrap;}
.scroll_div_left #scroll_begin, .scroll_div_left #scroll_end, .scroll_div_left #scroll_begin ul, .scroll_div_left #scroll_end ul, .scroll_div_left #scroll_begin ul li, .scroll_div_left #scroll_end ul li{ height:25px; line-height:25px; display:inline; margin-left:10px;}

.Divbordar { width:950px; margin-top:10px; overflow:hidden;}
.DivLeft { float:left; width:658px; border:1px #B8D275 solid; overflow:hidden;}
.DivRight { float:left; width:276px; margin-left:10px; padding:1px; border:1px #cccccc solid; min-height:251px; overflow:hidden;}
.DivRight_2 {min-height:322px;}
.DivRight2 { float:left; width:276px; height:410px; margin-left:10px; padding:1px; border:1px #cccccc solid;}
.DivRightTitle { background:url(midtitlebg5.jpg) repeat-x; height:25px; line-height:25px; overflow:hidden;}
.DivRightTL { float:left; width:200px; text-align:left; color:#333333; font-size:14px; font-weight:bold; overflow:hidden;}
.DivRightTL img { margin:4px 6px 6px 10px; float:left;}
.DivRightTL a {background:#999999; display:block; color:#FFFFFF; text-decoration:none; width:50px; height:25px; overflow:hidden; padding:1px 0 0px 0; text-align:center; float:left; margin:2px 2px 0 2px;}
.DivRightTL a.hover {background:#339900; margin-top:0px;}
.DivRightTR { float:left; width:76px; text-align:center;}

.DivLeft1 { float:left; width:304px; text-align:center; padding:5px; overflow:hidden;}
.DivLeft2 { float:left; width:340px; margin:0 0px 0 4px; overflow:hidden;}
.LeftTitle { width:340px; height:28px; background:url(midtitlebg2.jpg) repeat-x;}
.LeftTitle2 {width:100%; overflow:hidden;}
.LeftTL { float:left; width:280px; font-size:14px; font-weight:bold; color:#333333; height:28px; line-height:28px;}
.LeftTL img { margin:5px 5px 8px 10px;}
.LeftTR { float:right; width:60px; text-align:center; height:28px; line-height:28px;}

.Left1 { clear:both; padding:5px 10px 5px 10px; _padding-left:0px; width:315px; float:left; padding-left:0px; }
.Left1 ul {float:left; display:inline; margin:0px; padding:0 0 0 10px;}
.Left1 li {float:left; height:21px; line-height:21px; width:320px; white-space:nowrap; overflow:hidden; color:#CCCCCC; text-overflow:ellipsis; color:#000000;}
.Left2 { clear:both; border-bottom:1px #888888 dashed; padding-bottom:10px;}
.Left3 { clear:both; padding-top:10px;}
.Left4 { float:left; width:309px; padding:10px 10px 10px 10px;}
.Left5 { float:left; width:309px; padding:10px 10px 10px 10px; border-bottom:1px #888888 dashed;}
.Left4-1 { float:left; width:80px; height:80px; padding:2px; border:1px #cccccc solid;}
.Left4-2 { float:left; width:223px;}
.Left4-2 h1 { font-size:12px; color:#cc0033; padding:10px 5px 0px 5px;}
.Left4-2 h1 a {color:#cc0033; text-decoration:none;}
.Left4-2 h1 a:hover {color:#cc0033; text-decoration:underline;}
.Left4-2 h2 { line-height:150%; text-indent:2em; color:#666666; padding:5px 5px 0px 5px; font-size:12px; font-weight:normal;}
.Left4-3 { clear:left; overflow:hidden; padding:3px 0px 0px 5px;}
.Left4-3 li { height:19px; line-height:19px;}
.Left6 { float:left; width:660px;}
.Left7 { float:left; width:323px; border:1px #B8D275 solid; margin-bottom:10px; height:412px; overflow:hidden;}
.Left7_2 {width:658px;}
.Left8 { float:left; width:323px; border:1px #B8D275 solid; margin-left:10px; margin-bottom:10px; height:200px; overflow:hidden;}
.Left7Title { margin:1px; background-color:#EFEFEF; height:20px; line-height:20px; color:#333333;}
.Left7Title img { margin:3px 5px 5px 10px;}
.Left7Content { clear:both; width:660px;}
.Left7Content2 { margin:0 0 0 2px; overflow:hidden; padding:0px;}
.Left7Content2 .Left7ConLeft {width:164px; overflow:hidden; text-align:center;}
.oldprice {color:#666666; text-decoration:line-through;}
.nowprice {color:#ff0000;}
.Left7ConLeft { float:left; width:100px; text-align:center; line-height:120%; margin-top:20px;}
.Left7ConLeft img { margin:8px 0px 8px 0px;}
.Left7ConRight { float:left; width:212px; padding:10px 0 0 10px;}
.Left7ConRight li { height:19px; line-height:19px;}

.Right1 { clear:both; padding:10px 10px 5px 10px; _padding-left:0px; _width:268px; overflow:hidden;}
.Right1 li { background:url(ulicon.jpg) no-repeat; height:19px; line-height:19px; padding-left:15px; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.Right2 { width:256px; height:80px; border-bottom:1px #666666 dashed; padding:10px 10px 5px 10px;}
.Right2-1 { float:left; width:90px; height:70px; border:1px #CCCCCC solid; padding:1px;}
.Right2-2 { float:left; width:160px;}
.Right2-2 h1 { font-size:12px; color:#333333; padding:3px 5px 0px 5px;}
.Right2-2 h2 { line-height:150%; text-indent:2em; color:#666666; padding:5px 5px 0px 5px; font-size:12px; font-weight:normal;}
.Right3 { clear:both; padding:8px 10px 8px 10px;}
.Right3 li { height:19px; line-height:19px; white-space:nowrap; overflow:hidden; width:250px;}
.Right4 { clear:both; width:276px; }
.Right4 ul {margin:10px 0 0 0;}
.Right4 li { float:left; width:138px; text-align:center;}
.Right4 li h5 { font-size:12px; font-weight:normal; padding:0px; margin:0px; width:100px; white-space:nowrap; overflow:hidden; color:#0066FF; cursor:pointer; text-decoration:none; }
.Right4 li img { margin:5px 0px 5px 0px;}

.picture { clear:both; width:948px; height:180px; border:1px #B8D275 solid; margin-top:10px;}
.pictureTitle { background:url(midtitlebg2.jpg) repeat-x; height:28px; line-height:28px;}
.pictureTitle h2 {font-size:14px; float:left;}
.pictureTitle h3 {float:right; margin-right:10px;}
.pictureTitle img { margin:4px 6px 6px 10px;}
.pictureContent { padding:10px;}
#demo { overflow:hidden; width: 930px;}
#demo img { margin:5px 10px 0px 0px; border:2px #ffffff solid;}
#demo a:hover img { border:2px #B8D59B solid;}
#indemo { float: left; width: 800%;}
#demo1 { float: left;}
#demo2 { float: left;}

.link { clear:both; width:946px; height:120px; margin-top:10px; border:1px #cccccc solid; padding:1px;}
.linkTitle { height:28px; background-color:#EFEFEF; line-height:28px; font-size:14px; font-weight:bold;}
.linkTitle img { margin:4px 6px 6px 10px;}
.linkContent { padding:10px;}
.linkContent li { float:left; width:154px; text-align:left; height:20px; line-height:20px;}

.bottom { margin:0px auto; margin-top:20px; width:700px; border-top:2px #999999 solid; padding:20px; line-height:180%; text-align:center;}

.list { width:950px; margin-top:10px;}
.listLeft { float:left; width:220px;}
.listJD { border:1px #B8D273 solid; width:208px; text-align:center; padding:5px; overflow:hidden;}
.listLeftPart1 { border:1px #B8D273 solid; width:218px; margin-top:10px;}
.listLeftTitle { clear:both; background:url(midtitlebg5.jpg) repeat-x; height:25px; line-height:25px; font-size:14px; color:#333333;}
.listLeftTitle img { margin:4px 5px 6px 10px;}
.listLeftContent { width:208px; padding:10px 5px 10px 5px; overflow:hidden;}
.listLeftContent li { height:21px; line-height:21px;}
.listMid { float:left; width:720px; margin-left:10px;}
.listMidTitle { height:28px; line-height:28px; background:url(midtitlebg2.jpg) repeat-x; font-size:14px; color:#333333; font-weight:bold;}
.listMidTitle img { margin:5px 5px 8px 10px;}
.listMidTitle .listMidTitleLeft {float:left;}
.listMidTitle .listMidTitleRight {float:right;}
.listMidContent { padding:10px;}
.listMidContent li { height:37px;}
.listMidContent li h1 { height:27px; line-height:27px; font-size:14px; font-weight:normal;}
.listMidContent li h2 { height:10px; line-height:10px; font-size:12px; font-weight:normal; font-size:80%; background-color:#f5f5f5; color:#666666; text-align:right;}
.listMidContent li h2 font { color:#006600; font-size:12px; font-weight:normal;}
.listRight { float:left; width:240px; margin-left:10px; height:auto; background-color:#F3F8E4; overflow:hidden;}
.listRightTitle { clear:both; background:url(midtitlebg6.jpg) repeat-x; height:25px; line-height:25px; padding-left:10px; font-size:14px; color:#333333;}
.listRightContent { clear:both; width:240px;}
.listRightContent li { float:left; width:120px; text-align:center; padding-bottom:5px;}
.listRightContent li img { margin:5px 0px 5px 0px;}
.pageno { height:40px; line-height:40px; font-size:14px; text-align:right; padding-right:10px;}
.pageno font { color:#576527; font-size:14px; font-weight:bold;}

.list2 { width:950px; margin-top:10px;}
.list2Left { float:left; width:250px;}
.list2LeftPart1 { width:248px; border:1px #B8D273 solid;}
.list2LeftPart2 { width:248px; border:1px #B8D273 solid; margin-top:10px;}
.part1Title { clear:both; background:url(midtitlebg6.jpg) repeat-x; height:25px; line-height:25px; font-size:14px; color:#333333;}
.part1Title img { margin:5px 5px 7px 10px;}
.part1Content { clear:both; overflow:hidden; padding:5px;}
.part1ConLeft { float:left; width:100px; height:90px; text-align:center; border-bottom:1px #cccccc dashed;}
.part1ConRight { float:left; width:130px; height:90px; padding-left:10px; border-bottom:1px #cccccc dashed;}
.part1ConRight h1 { font-size:12px; font-weight:bold; color:#333333; margin-top:5px;}
.part1ConRight h2 { font-size:12px; font-weight:normal; color:#666666; line-height:150%; margin-top:5px;}
.part1ConContent { clear:both; width:240px;}
.part1ConContent li { margin-top:5px;}
.part1CCL { float:left; width:40px; margin-top:7px; text-align:center;}
.img1 { width:30px; height:30px; border:1px #cccccc solid; padding:1px;}
.part1CCR { float:left; width:185px; padding-left:5px; margin-top:6px; color:#666666;}
.list2Mid { float:left; width:690px; margin-left:8px;}
.list2MidTitle { background:url(midtitlebg2.jpg) repeat-x; height:28px; line-height:28px; padding-left:10px; color:#333333; font-size:14px; font-weight:bold;}
.list2MidContent { clear:both; padding:5px; overflow:hidden; width:680px;}
.list2MidContent li { float:left; width:170px; text-align:center;}
.img2 { width:150px; height:100px; border:1px #cccccc solid; padding:2px; margin-top:10px;}
.pageno2 { border-top:1px #cccccc dashed; font-size:14px; text-align:right; padding:10px 10px 0 0;}
.pageno2 font { color:#576527; font-size:14px; font-weight:bold;}

.list3 { width:950px; margin-top:10px;}
.list3Left { float:left; width:652px;}
.list3LeftPart1 { clear:both; overflow:hidden; width:650px; border:1px #B8D273 solid;}
.list3LeftPart2 { clear:both; overflow:hidden; width:650px; border:1px #B8D273 solid; margin-top:10px;}
.list3Title { background:url(midtitlebg2.jpg) repeat-x; height:28px; line-height:28px; padding-left:10px; color:#333; font-size:14px; font-weight:bold;}
.list3Title img { margin:5px 5px 8px 10px;}
.list3Title2 { background:url(midtitlebg5.jpg) repeat-x; height:25px; line-height:25px; padding-left:10px; color:#333; font-size:14px;}
.list3Title2 img { margin:5px 5px 5px 10px;}
.list3LeftContent { width:650px; padding:10px 0 10px 0;}
.list3LeftContent li { float:left; width:130px; text-align:center;}
.list3LeftContent li img { margin:10px 0 8px 0; border:1px #cccccc solid;}
.list3LeftContent li a:hover img { border:1px #333333 solid;}
.list3LeftContent2 { width:650px; padding:10px 0 10px 0;}
.list3LCT { clear:both; overflow:hidden; width:650px;}
.list3LCTLeft { float:left; width:200px; border:1px #CCCCCC solid; padding:2px; margin:0 0 0 10px;}
.list3LCTRight { float:left; width:400px; margin-left:10px;}
.list3LCTRight h1 { font-size:14px; font-weight:bold; color:#333333; padding-top:10px;}
.list3LCTRight h2 { font-size:14px; font-weight:normal; color:#333333; padding-top:5px;}
.list3LCTRight h3 { font-size:12px; font-weight:normal; color:#333333; padding-top:5px;}
.list3LCC { clear:both; width:650px; margin-top:10px;}
.list3LCC li { float:left; width:320px; height:21px; line-height:21px; padding-left:5px; color:#333333;}
.list3Right { float:left; width:288px; margin-left:10px;}
.list3RightPart1 { clear:both; overflow:hidden; width:286px; border:1px #cccccc solid;}
.list3RightPart2 { clear:both; overflow:hidden; margin-top:10px; width:286px; border:1px #cccccc solid;}
.list3RightContent { padding:10px 0 10px 5px;}
.list3RightContent li { height:19px; line-height:19px; text-align:left;}
.list3RightContent2 { width:286px; padding:0 0 10px 0;}
.list3RightContent2 li { float:left; width:143px; margin-top:10px; font-size:14px;}
.list3RightContent2 li img { margin:0 5px 0 5px; border:1px #cccccc solid;}
.list3RightContent2 li a:hover img { border:1px #333333 solid;}

.list4 { width:950px; margin-top:10px;}
.list4Title { background:url(midtitlebg2.jpg) repeat-x; height:28px; line-height:28px; padding-left:10px; color:#333; font-size:14px; font-weight:bold;}
.list4Title img { margin:5px 5px 8px 10px;}
.list4Part1 { width:948px; border:1px #B8D273 solid; overflow:hidden;}
.list4Part2 { width:948px; border:1px #B8D273 solid; margin-top:10px; overflow:hidden;}
.list4Content { clear:both; overflow:hidden; padding:10px 0 10px 0;}
.list4Content2 { clear:both; overflow:hidden; border-bottom:1px #CCCCCC dashed; width:940px; padding-left:8px; padding-bottom:10px;}
.list4Content2 li { float:left; width:188px; text-align:left; padding:10px 0 0 0;}
.list4ConTitle { clear:both; overflow:hidden; height:30px; line-height:30px; font-size:14px; font-weight:bold; color:#333333; border-bottom:1px #CCCCCC dashed; padding-left:10px;}
.mytable { width:945px; margin:0px auto;}
.mytable ul li { float:left; width:135px; padding:5px 0 5px 0; text-align:center;}
.mytable ul li.t1 { background-color:#e5e5e5;}
.mytable ul li.t2{ background-color:#ffffff;}
.mytable ul li.t3 { background-color:#cccccc;}

.shownews { width:950px; margin-top:10px;}
.showLeft { float:left; width:668px; background-color:#F9FBF2; border:1px #B8D273 solid; min-height:960px; overflow:hidden;}
.showLeft h4 {font-size:16px; font-weight:bold; margin:10px;}
.newsmore ul {list-style:none; margin:5px 0 10px 20px; padding:0px;}
.newsmore li {height:20px;}
.newsmore li a {color:#0066CC; text-decoration:underline; font-size:14px;}
.showRight { float:left; width:270px; margin-left:10px; overflow:hidden;}
.showRightPart1 { clear:both; overflow:hidden; width:268px; border:1px #B8D273 solid;}
.showRightPart2 { clear:both; overflow:hidden; width:268px; border:1px #B8D273 solid; margin-top:10px;}
.partTitle { background:url(midtitlebg5.jpg) repeat-x; height:25px; line-height:25px; font-size:14px; color:#333333;}
.partTitle img { margin:5px 5px 6px 10px;}
.partContent { padding:10px 5px 10px 5px;}
.partContent li { height:19px; line-height:19px; white-space:nowrap;}
.partContent2 { width:258px; padding:10px 5px 10px 5px;}
.partContent2 li { float:left; width:129px; text-align:center;}
.partContent2 li h4 { overflow:hidden; white-space:nowrap; width:110px; font-size:12px; font-weight:normal; margin:0px; padding:0px; cursor:pointer; }
.newsTitle { clear:both; width:668px; padding:20px 0 10px 0; font-size:16px; font-weight:bold; color:#003300; text-align:center;}
.newsContent { padding:0 15px 20px 15px; line-height:200%; font-size:14px; width:590px; margin:10px 0 0 20px; text-indent:2em;}
.newsContent p { line-height:160%; letter-spacing:1px; margin-top:10px; color:#333333; text-indent:2em;}
.newsContent img {cursor:pointer; padding:1px; border:1px solid #CCCCCC; max-width:570px;}
.newsContent .objectcss {text-align:center; width:645px;}
.newsBottom { height:35px; border-top:1px #7A982A dashed; line-height:35px; text-align:center;}
.newsfrom { height:35px; line-height:35px; font-size:14px; text-align:right; display:block; padding-right:20px; color:#999999;}
.bottom1 { float:left; width:340px; text-align:center;}
.bottom1 font { color:#FF9900; font-size:22px;}
.bottom1 img { margin:20px 5px 20px 10px;}
.bottom2 { float:left; width:318px; margin-left:10px; line-height:160%; padding-top:10px; color:#666666;}

.newsComm { width:668px; clear:both; margin-top:15px; padding-bottom:15px;}
#Tab2{ width:576px; margin:0 auto;}
.Menubox { width:100%; background:url(newsCommBG.jpg); height:28px; line-height:28px;}
.Menubox ul{ margin:0px; padding:0px;}
.Menubox li{ float:left; display:block; cursor:pointer; width:114px; height:28px; line-height:28px; text-align:center; color:#949694; font-weight:bold;}
.Menubox li.hover{ background-color:#ffffff; width:116px; border-left:1px solid #A8C29F; border-top:1px solid #A8C29F; border-right:1px solid #A8C29F; background:url(newsCommBG2.jpg); color:#739242; font-weight:bold; height:27px; line-height:27px;}
.Contentbox{ clear:both; background-color:#FFFFFF; border:1px solid #A8C29F; border-top:none; height:200px; padding:10px;}
.ConBoxDiv1 { height:20px; line-height:20px; color:#FF0000;}
.ConBoxDiv2 { padding:5px 0 5px 0;}
.ConBoxDiv3 { padding:5px 0 10px 0; text-align:center;}
.ConBoxInput1 { width:100px; height:16px; border:1px #cccccc solid; margin:0 10px 0 5px;}
.ConBoxInput2 { width:40px; height:16px; border:1px #cccccc solid; text-align:center; margin:0 10px 0 5px;}
.ConBoxInput3 { width:400px; height:100px; overflow:hidden; border:1px #cccccc solid; padding:1px; vertical-align:top; margin:0 10px 0 5px;}
.ConBoxList1 { height:200px; overflow-y:auto;}
.ConBoxList1 li { border-bottom:1px #CCCCCC dashed;}
.ConBoxList1 li h1 { font-size:12px; font-weight:bold; color:#333333; padding:5px 0 5px 0;}
.ConBoxList1 li h1 font { color:#009900; font-size:12px; font-weight:normal;}
.ConBoxList1 li h2 { font-size:12px; font-weight:normal; color:#565656; padding:0 0 5px 0; line-height:150%;}
.ConBoxList2 { height:200px; overflow-y:auto;}
.ConBoxList2 li { height:19px; line-height:19px; color:#333333;}
.ConBoxList2 li font { color:#009900; font-size:12px; font-weight:bold;}
.overflow { overflow-y:auto; overflow-x:hidden; scrollbar-face-color:#AECD9A; scrollbar-highlight-color:#f5f5f5; scrollbar-shadow-color:#AECD9A; scrollbar-3dlight-color: #AECD9A; scrollbar-arrow-color: #ffffff; scrollbar-darkshadow-color: #f5f5f5;}
.ztLeft {width:320px; float:left;}
.ztRight {width:320px; float:right; overflow:hidden;}

a.div20a {cursor:pointer; text-decoration:none;}
.showpages {float:right; height:30px; line-height:30px; margin-top:10px;}
.showpages a:link,.showpages a:visited { font-size:12px; text-decoration:none; border:1px solid #8AAA37; background-color:#ffffff; margin:2px; padding:2px;color:#8AAA37; padding:3px 5px 3px 5px;}
.showpages a:hover {border:1px solid #8AAA37; background-color:#8AAA37; text-decoration:none; color:#fff;}
.showpages a.visited {color:#ffffff; border:1px solid #8AAA37; background-color:#8AAA37; text-decoration:none; padding:2px 5px 2px 5px;padding:3px 5px 3px 5px;}

.AD {width:950px; height:auto; margin-bottom:-5px;}
.AD .AD1 {float:left;}
.AD .AD2 {float:right;}
.mt10 {margin-top:15px;}
.bottom font {font-family:Arial; font-size:12px;}
.bottom font a {color:#333333; text-decoration:none;}