#artContent blockquote.quote360doc{border-left: solid 3px #d9d9d9;background: #f2f2f5;margin: 6px 0;color: #999;padding: 20px;font-size: 14px;}
#artContent p{padding-bottom: 10px;padding-top: 10px;margin-top:0;margin-bottom:0;line-height: 1.8 ;}
#artContent img{max-width: 100%;vertical-align: top;}
#artContent hr{margin: 10px 0;border-color: #d4d4d4;}
#artContent table{margin: 2px auto;display: table;}
#artContent blockquote.quote360doc p{padding: 0 !important;line-height: 1.5 !important;}
/*embed{border: dotted 1px #999;}*/
#artContent a{text-decoration: none;}
/*#artContent td p{margin: 5px 0;}*/
#artContent h1{font-size: 24px;margin: 18px 0;}
#artContent h2{font-size: 18px;margin: 14px 0;}
#artContent h3{font-size: 16px;margin: 12px 0;}


#artContent p,
#artContent div,
#artContent span {
	font-family: inherit;
}


.onImgAddText_{width: auto;  height: 34px; line-height: 34px; position: relative; white-space: nowrap; margin: 0px auto;  min-width:100px; text-align: center; color: #999; font-size: 13px;padding:8px 24px;display: }
span{outline: none;}
.onImgAddText_closer{display: none;}
#qb-sougou-search,#qb_collection_img_mask,#qb-sougou-search iframe{position: static !important;width: 100px !important;height: 1px !important;overflow: hidden !important;display: block !important;border: none !important;}
.edit360doctable td, .edit360doctable th {
    border: 1px solid #DDD;
}
.list-paddingleft-2 {
    padding-left: 30px;
}
.list-paddingleft-2 li{list-style-type: inherit;}
.onImgAddText_table{width: 650px;table-layout: fixed;margin: 0 auto;}
#artContent marquee p{margin: 0;}