.md .md_hdc b {
}
.md .md_hd .mh_title b {
}
.md .md_hd .mh_option .more_btn {
}
.md .md_hd .mh_title a {
	background-color:none;
	color:#221e1f;
}
.jiemuguanwang18699_topbang ul li .text {font-size:17px;font-weight:bold;color:#333333;line-height:21px;font-family:"microsoft yahei";padding-top:21px;padding-right:31px; height:99px;}
.jiemuguanwang18699_topbang ul li .image {width:214px;height:120px;float:left;margin-right:21px;position:relative; overflow:hidden;}
.jiemuguanwang18699_topbang {zoom:1;clear:both;}
.md .md_ftc {
	display:none;
}
.jiemuguanwang18699_topbang ul li .number.cur {width:34px;height:45px;left:7px;top:8px;background:url(//p4.img.cctvpic.com/photoAlbum/templet/common/DEPA1367457523502574/jiemu18050_con5-cur_18669_0401.png) no-repeat;}
.column_wrapper_1000_xw:after {
	clear:both;
	content:".";
	display:block;
	font-size:0;
	height:0;
	line-height:0;
	visibility:hidden;
}
.md .md_ftc b {
}
.jiemuguanwang18699_topbang .box {margin:0 -9px ;overflow:hidden;}
.jiemuguanwang18699_topbang ul li .number {width:30px;height:30px;position:absolute;left:9px;top:10px;background:url(//p4.img.cctvpic.com/photoAlbum/templet/common/DEPA1367457523502574/jiemu18050_con5-num_18669_0401.png) repeat;font-size:16px;font-family:"Arial";color:#ffffff;text-align:center;line-height:30px;font-weight:bold;}
.jiemuguanwang18699_topbang ul li .text p a {color:#7a7a7a;text-decoration:none;}
.jiemuguanwang18699_topbang ul li .text p {line-height:34px;color:#7a7a7a;font-size:15px;font-family:"microsoft yahei";font-weight:normal;padding-top:14px;}
.jiemuguanwang18699_topbang ul li {height:120px;padding:10px 9px;position:relative;cursor:pointer;}
.jiemuguanwang18699_topbang ul li .text p a:hover {color:#3db2e4;}
.jiemuguanwang18699_topbang ul.last {margin-right:0px;}
.md {
	background:none;
	border:none;
	clear:both;
	margin:0;
	padding:0;
}
.md .md_hd .mh_title {
	font-size:21px;
	font-family:;
	margin-left:10px;
	float:left;
	background:none;
	margin:0;
	padding:0;
	color:#1e63b0;
	display:block;
	border-bottom:2px solid #ee0012;
	z-index:9999;
}
.jiemuguanwang18699_topbang ul li .text>a:hover {color:#3db2e4;}
.jiemuguanwang18699_topbang ul li:hover {background:url(//p4.img.cctvpic.com/photoAlbum/templet/common/DEPA1367457523502574/zhibo_ind05_bg_01_18669_0401.jpg) no-repeat left;}
.ELMTWAG3CWtQoMqYL2Z5h5I4190403 .vspace_jj {height:10px;}
.column_wrapper_1000_xw {
	clear:both;
	margin:0 auto;
	width:1000px;
}
.md .md_hd .mh_option a {
	color:#1e63b0;
}
.vspace_jj {
	height:10px;
	font-size:0px;
	line-height:0px;
	width:99%;
	clear:both;
}
.jiemuguanwang18699_topbang ul {float:left;width:498px;list-style: none;padding-left: 0 !important;margin-right: 2px;}
.md .md_hd .mh_option .more_btn:hover {
}
.md .md_hdc {
	display:none;
}
.jiemuguanwang18699_topbang ul li .text>a {color:#333333;text-decoration:none;}
.hide {
	height:10px;
	overflow:hidden;
}
.md .md_hd .mh_option {
	font-size:14px;
	font-family:"宋体";
	background-color:none;
	float:right;
	padding-right:0px;
	font-weight:normal;
	color:#1e63b0;
}
.md .md_bd {
	border:none;
	clear:both;
	word-wrap:break-word;
	overflow:visible;
	background-color:#fff;
	background-image:none;
	height:auto;
	padding:10px;
	background-repeat:no-repeat;
	background-position:center bottom;
	background:none;
	margin:0;
}
.md .md_hd {
	background:none;
	clear:both;
	color:#333;
	font-weight:bold;
	height:43px;
	line-height:43px;
	overflow:visible;
	padding:0;
	border-style:solid;
	border-width:0 0 1px 0;
	background-image:none;
	background-repeat:repeat;
	border-bottom-width:1px;
	border-color:#ccc;
	background-position:0  0 !important;
	position:relative;
	margin:0;
	border:none;
	border-bottom:2px solid #e5e5e5;
	font-family:"微软雅黑";
}
.ELMTjyOLGD2HLULpeEIwvJTE190403 .vspace_jj {height:10px;}