.col_w300_3 {width:300px;float:left;margin-right:0px;}
.column_wrapper_1000_xw:after {
	clear:both;
	content:".";
	display:block;
	font-size:0;
	height:0;
	line-height:0;
	visibility:hidden;
}
.column_wrapper_1000_xw {
	clear:both;
	margin:0 auto;
	width:1000px;
}
.col_w300_1,.col_w300_2 {width:300px;float:left;margin-right:50px;}